<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/RedCrescent" version="1.0.4" viewmodes="maximized">
    <access origin="https://crt-server-ibicha.c9users.io/" subdomains="true"></access>
    <access origin="https://maps.googleapis.com/maps/api" subdomains="true"></access>
    <access origin="*" subdomains="true"></access>
    <tizen:application id="yRiV8d7iCb.RedCrescent" package="yRiV8d7iCb" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <icon src="badge.png" height="117" width="117"/>
    <name>Tunisian Red Crescent</name>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/messaging.write"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
